
:root{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
	padding: 20px;
	justify-content: center;
	background-color: rgb(225, 204, 204);
}

header h1{
	text-align: center;
	color: #620d36;
}

nav{
	margin: 10px auto;
	background-color: rgb(177, 151, 132);;
	width: 90%;
	border-radius: 10px;
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li{
	color: white;
	display: inline;
	margin: 10px 25px;
	font-weight: bold;
	cursor: pointer;
}

main{
	float: left;
	width: 80%;
}

article{
	margin: 10px;
	padding: 5px;
    border: 5cm seagreen;
}



article:hover::after{
	cursor: pointer;
}

article h2{
	color: #4e0e24;
}

article p{
	margin: 5px;
	padding: 5px 5px 5px 0;
	border-top: 3px solid #886882;
	text-align: justify;
}


aside ul{
	list-style: none;
	display: flex;
	flex-flow: column;
	align-items: center;
}

aside ul li{
	min-height: 50px;
	min-width: 100px;
	color: white;
	padding: 10px;
	text-align: center;
	margin: 10px;
	line-height: 50px;
}

aside ul li:nth-child(1n){
	background: #03a9f4;
}

aside ul li:nth-child(2n){
	background: #ff9800;
}

aside ul li:nth-child(3n){
	background: #771f3c;
}

footer{
	clear: both;
	text-align: center;
	font-weight: bold;
	color: #7d2741;
	border-top: 2px solid #8e8b93;
	padding: 10px;
	width: 90%;
	margin: 0 auto;
}